html {
    font-size: 100%; /* Lets user control zoom. */
}

/* Font for the entire document unless over-written later. */
body {
    margin: 10;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    background-color: darkolivegreen;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover; 
    /* opacity: 0.6; */
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* This gets rid of link's underlines.  */
a, a:visited {
    text-decoration: none;
    padding-right: 5px;
    color: black;
    background-color: transparent;
    /* float: right; */
}

a:hover {
    background-color: lightgray;
}

/* Display is flex so that the entire header section stays in one line. */
.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: darkolivegreen;
    /* opacity: 0.6; */

}

.header__links {
    display: inline-block;
    margin-left: 700px;   /*Stick it to the right side. */
    margin-right: 0px; 
}

.some-text {
    color: brown;
    font-weight: bolder;
    width: max-content;
    background-color: aqua;
}

